.historia{
    position: relative;
    display: flex;

    .phone{
        position: absolute;
        align-items: center;
        top: 48px;
        left: -20px;
        width: 360px;
        height: 529px;
    }
    .texto{
        
        h1 {
            position: absolute;
            top: 594px;
            @include estilo-seccion;
            display: inline-block;
            height: 42px;
            padding: 0 16px 0 16px;
        }
        h4{
            position: absolute;
            top: 686px;
            margin: 16px 0 0 0;
            @include estilo-texto;
            padding: 0 16px 0 16px;
        }
    }
}

@media screen and (min-width: 768px){
    .historia{
        position: relative;
        display: inline-flex;
        
        .phone{
            position: absolute;
            width: 457.6px;
            height: 660px;
            top: 64px;
            left: 200px;
        }
        .texto{
        position: relative;
            h1 {
                position: relative;
                @include estilo-seccion;
                display: inline-block;
                height: 42px;
            }
            h4{
                position: relative;
                @include estilo-texto;
            }
        }
    }
}

